In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import SRC.cleaning_functions as fc
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1") #To load the data csv

In [3]:
# First visualization of the dataset

df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
df.sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
19803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1303,2007.12.15,15-Dec-2007,2007.0,Unprovoked,AUSTRALIA,Queensland,South Stradbroke Island,Swimming,Josh Edwards,M,...,"""a small shark""",goldcoast.com.au,2007.12.15-Edwards.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.12.15,2007.12.15,5000.0,NaN,NaN
24675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# To see how many values does the dataset have 

df.shape

(25723, 24)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
# After analyzing the data and its figures, I can decided the HYPOTHESES I am going to work on:

# 1. Over the years the fatality of shark attacks has decreased? 
# 2. Majority of accidents that end in fatality happen during the night? If not, when?
# 3. Has the mortality of ie. surfing decreased over time? And what about the rest?

In [8]:
df.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [9]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [10]:
df['Unnamed: 22'].unique()

array([nan, 'stopped here'], dtype=object)

In [11]:
df['Unnamed: 23'].unique()

array([nan, 'Teramo', 'change filename'], dtype=object)

In [12]:
# Now I am going to remove the columns full of NaN and also the ones whose values I am not going to use

df.drop(['original order', 'Case Number.1', 'Case Number.2', 'pdf', 'href formula', 'href', 'Unnamed: 22', 'Unnamed: 23', 'Area', 'Location', 'Investigator or Source'], axis=1, inplace=True)

In [13]:
df.sample(5)

,Case Number,Date,Year,Type,Country,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
7462,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3374,1970.12.17,17-Dec-1970,1970.0,Unprovoked,MOZAMBIQUE,Fishing for prawns,Castigo Litura,M,18,"FATAL, arm severed",Y,15h00,NaN
5087,1929.01.06.R,06-Jan-1929,1929.0,Boating,TURKEY,Fishing boat,male x 2,M,NaN,FATAL,Y,NaN,NaN
22962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5710,1890.00.00.b,1890,1890.0,Unprovoked,NEW ZEALAND,Swimming,soldier,M,NaN,FATAL,Y,NaN,NaN

In [14]:
# Now I am removing all the rows where all the values are NaN

df.dropna(axis=0, how='all', thresh=None, inplace=True)

In [15]:
df.shape

(8703, 13)

In [16]:
# Now I want to see the unique values per column to identify how do I have to clean the columns I need

In [17]:
df['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [18]:
df['Species '].unique()

array(['White shark', nan, '2 m shark', ..., "12' tiger shark",
       'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)

In [19]:
df['Year'].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [20]:
df['Country'].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [21]:
df['Injury'].unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [22]:
df['Country'].value_counts()

USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
NEW ZEALAND                128
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: Country, Length: 212, dtype: int64

In [23]:
df['Type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [24]:
# The column of 'Fatal (Y/N)' it is going to be used for all my hypotheses, so it will be the first column I am going to clean with the function replace

In [25]:
df['Fatal (Y/N)'].replace({' N': 'N', 'M': 'UNKNOWN', '2017': 'UNKNOWN', 'N ': 'N', 'y': 'Y'}, inplace=True)

In [26]:
df['Fatal (Y/N)'].value_counts()

N          4301
Y          1389
UNKNOWN      73
Name: Fatal (Y/N), dtype: int64

In [27]:
# Finally, for my hipotheses #1 I want to see if the mortality of the shark attacks has decreased over time. 
# However, I have identified there are some cases which date from year 0, 50, 500, etc. so I am going to test this hypotheses for the last 2 centuries.
# So now I am going to remove the rows from 6133 to 6301 which are where those values are in, as identified below

In [28]:
print(list(df['Year'].unique()))

[2018.0, 2017.0, nan, 2016.0, 2015.0, 2014.0, 2013.0, 2012.0, 2011.0, 2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0, 2003.0, 2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995.0, 1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0, 1969.0, 1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0, 1980.0, 1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0, 1972.0, 1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0, 1963.0, 1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0, 1955.0, 1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0, 1848.0, 1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0, 1940.0, 1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0, 1932.0, 1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0, 1924.0, 1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0, 1916.0, 1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0, 1908.0, 1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0, 1900.0, 1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0, 1892.0, 1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0, 1884.0, 1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0, 1876.0, 1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0, 1868.0, 1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0, 1860.0, 1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0, 1851.0, 1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0, 1841.0, 1840.0, 1839.0, 1837.0, 1836.0, 1835.0, 1834.0, 1832.0, 1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0, 1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1812.0, 1811.0, 1810.0, 1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0, 1800.0, 1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0, 1784.0, 1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1767.0, 1764.0, 1758.0, 1753.0, 1751.0, 1749.0, 1755.0, 1748.0, 1742.0, 1738.0, 1733.0, 1723.0, 1721.0, 1703.0, 1700.0, 1642.0, 1638.0, 1637.0, 1617.0, 1595.0, 1580.0, 1555.0, 1554.0, 1543.0, 500.0, 77.0, 5.0, 0.0]

In [29]:
sharks = df.loc[df['Year'] >= 1800.0]

In [30]:
sharks['Year'].unique()

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
       1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986., 1985.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966., 1965.,
       1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
       1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1848.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849., 1847.,
       1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837., 1836.,
       1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827., 1826.,
       1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815., 1812.,
       1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802., 1801.,
       1800.])

In [31]:
# The values in column 'Year' are floats, I want them now to be int because it is much clear for a number
sharks['Year'] = sharks['Year'].astype(dtype=int)

In [32]:
sharks['Year'].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988,
       1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943,
       1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888,
       1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877,
       1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866,
       1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855,
       1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841,
       1840, 1839, 1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828,
       1827, 1826, 1825, 1823, 1822, 1819, 1818, 1817, 1816, 1815, 1812,
       1811, 1810, 1808, 1807, 1805, 1804, 1803, 1802, 1801, 1800])

In [33]:
# Now for the column 'Time', I need to use this column for my 2nd hypotheses

In [34]:
sharks['Time'].value_counts()

Afternoon      183
11h00          128
Morning        120
12h00          109
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: Time, Length: 366, dtype: int64

In [35]:
# To clean this column, I need a function to identify the first 2 items of the strings and based on that replace them with the moment of the day
# But first, I am going to take all the random values which are not going to be captured by my function

In [36]:
sharks['Time'].replace({'Late afternoon': 'Afternoon', 'Midday': 'Afternoon', 'Shortly before 12h00': 'Morning', 'After noon': 'Afternoon', 'Morning ': 'Morning', 'Midnight': 'Night', 'Sometime between 06h00 & 08hoo': 'Morning', 'Early afternoon': 'Afternoon', 'Just before noon': 'Morning', 'Early morning': 'Morning', 'Dawn': 'Night', 'Dusk': 'Night', 'Lunchtime': 'Afternoon', 'Before 07h00': 'Night', '"Just before 11h00"': 'Morning', 'Between 05h00 and 08h00': 'Morning', '>08h00': 'Morning', 'AM': 'Morning', 'A.M.': 'Morning', 'Sunset': 'Evening', '"Evening"': 'Evening', 'Just before sundown': 'Evening', '--': 'Nan', 'Just after 12h00': 'Afternoon', 'Early Morning': 'Morning', 'Shortly after midnight': ' Night', '\xa0 ': 'Nan', '20h45 (Sunset)': 'Night', 'Late morning': 'Morning', '19h00, Dusk': 'Evening', 'Shortly before 13h00': 'Afternoon', 'Possibly same incident as 2000.08.21': 'Nan', 'After Dusk': 'Evening', 'Noon': 'Afternoon', ' Night': 'Night', 'P.M.': 'Evening', '8:04 pm': 'Evening', '2 hours after Opperman': 'NaN', 'Mid afternoon': 'Afternoon', 'Mid morning': 'Morning', '"Night"': 'Night', '30 minutes after 1992.07.08.a': 'Nan', '>06h45': 'Morning', 'Between 06h00 & 07h20': 'Morning', '<07h30': 'Morning', '17h00 Sunset': 'Evening', 'Nightfall': 'Night', 'X': 'NaN', '18h30 (Sunset)': 'Evening', 'Prior to 10h37': 'Morning', 'Daybreak': 'Afternoon', '>12h00': 'Afternoon', 'Mid-morning': 'Morning', 'Just before dawn': 'Night', 'Daytime': 'Morning', 'Dark': 'Night', '"After lunch"': 'Afternoon', 'After dusk': 'Night', 'FATAL  (Wire netting installed at local beaches after this incident.)': 'NaN', 'After midnight': 'Night', 'Late afternon': 'Afternoon', '"Early evening"': 'Evening', 'Late Afternoon': 'Afternoon', '   ': 'NaN', 'Before daybreak': 'Morning', 'dusk': 'Night', 'Before 10h30': 'Morning', '>17h00': 'Evening', 'night': 'Night', 'Late night': 'Night', 'Midday.': 'Afternoon', '"After dark"': 'Night', '2 hrs before sunset': 'Evening', '"shortly before dusk"': 'Night', 'Between 11h00 & 12h00': 'Morning', 'After 04h00': 'Night', 'Ship aban-doned at 03h10': 'Night', '>17h30': 'Evening', '>14h30': 'Afternoon', '11h01 -time of ship sinking': 'Morning'}, inplace=True)

In [37]:
print(list(sharks['Time'].unique()))

['18h00', '14h00  -15h00', '07h45', nan, 'Afternoon', '17h00', '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30', '10h40', '16h50', '07h00', '09h30', '21h50', '09h40', '08h00', '17h35', '15h30', '07h30', 'Evening', 'Night', '16h00', '15h01', '12h00', '13h45', '23h30', '09h00', '14h30', '18h30', '12h30', '16h30', '18h45', '06h00', '10h00', '10h44', '13h19', '13h30', '10h45', '11h20', '11h45', '19h30', '08h30', '15h45', '17h34', '17h10', '11h15', '08h50', '17h45', '13h00', '10h20', '13h20', '02h00', '09h50', '11h30', '17h30', '9h00', '10h43', '15h15', '15h40', '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34', '15h25', '14h55', '17h46', '15h49', '19h00', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50', '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52', '06h15', '14h40', '19h45', '10h10', '08h45', '12h10', '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50', '14h15', '09h45', '06h45', '05h00', '03h30', '06h30', '17h20', '20h00', '16h40', '16h18', '11h10', '17h50', '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58', '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55', '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24', '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20', '07h56', '1600', '17h17', '16h35', '09h05', '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05', '05h45', '13h25', '12h20', '13h26', '09h11', '12h15', '13h15', '18h20', '15h35', '13h51', '08h05', '19h15', '10h35', '15h44', '21h00', '15j45', '09h35', '10h27', '10h16', '0500', '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53', '11h115', '13h42', '20h15', '12h39', '07h05', '  ', '13h05', '11h50', '17h55', '22h30', '17h15', '16h10', '11h30 ', '06h10', '16h15', '07h08', '17h00 or 17h40', '03h00', 'Nan', '12h02', '12h55', '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55', '13h23', '02h30', '08h40', '11h56', '14h35', ' ', '07h50', ' Night', '14h25', '13h345', '06h47', '09h00 -10h00', '18h40', '13h14', '13h06', '12h34', '11h53', '12h46', '12h48', '17h42', '12h35', '11h57', '17h40', '11h25', '18h25', '10h28', '09h15', '14h16', '09h55', 'NaN', '15h05', '09h30 ', '11h48', '11h00 / 11h30', '07h19', '13h37', '11h06', '18h30?', '11h58', '11h51', '18h12', '07h10', '07h40', '12h33', '15h06', '12h54', '16h55', '05h40', '21h30', '08h57', '06j00', '08h35', '10h22', '02h45', '18h10', '08h55', '16h30 or 18h00', ' 14h00', '06h50', '01h00', '10h00 / 11h00', '07h32', '15h00 or 15h45', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00', '03h45 - 04h00', '13h10', '09h30 / 15h30', '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', '01h32', '10h30 or 13h30', '16h23', '15h00j', '10h00 or 14h00', '19h10', '16h25', '18h15 to 21h30', '1500', '19h55', '01h30', '05h30', '08h58', '06h00 -- 07h00', '01h50', '17h00-18h00', '19h00-20h00']

In [38]:
# Now I can apply my function to the column to only have 4 values in this column

In [39]:
sharks['Time'].fillna('Unknown', inplace=True)

In [40]:
sharks['Time3'] = sharks['Time'].apply(fc.cambia_hora)

In [41]:
sharks.head(5)

,Case Number,Date,Year,Type,Country,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Time3
0,2018.06.25,25-Jun-2018,2018,Boating,USA,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,Evening
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,Afternoon
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,Morning
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,Surfing,male,M,NaN,Minor injury to lower leg,N,Unknown,2 m shark,Unknown
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Unknown,"Tiger shark, 3m",Unknown

In [42]:
# As I am going to use the column Activity for my 3rd hypotheses I need now to see the unique values of the column to then do a regex function

In [43]:
sharks['Activity'].value_counts()

Surfing                                                        969
Swimming                                                       842
Fishing                                                        420
Spearfishing                                                   332
Bathing                                                        156
                                                              ...
Motor launch Baby Princesa capsized with 22 people on board      1
Sea Disaster Sinking of ferryboat Christina                      1
Wreck of the 1689-ton Portuguese  coaster Angoche                1
Hookah diving (submerged)                                        1
a corsair's boat was overturned                                  1
Name: Activity, Length: 1487, dtype: int64

In [44]:
print(list(sharks['Activity'].unique()))

['Paddling', 'Standing', 'Surfing', 'Free diving', 'Kite surfing', 'Swimming', 'Fishing', 'Walking', 'Feeding sharks', 'Boogie boarding', 'Scuba diving', 'Paddle-skiing', 'Body boarding', 'Windsurfing', 'Stand-Up Paddleboarding', 'Wading', 'Scuba Diving', 'Kayak fishing for sharks', 'Cleaning fish', 'Snorkeling', 'Spearfishing', nan, 'Diving', 'Fishing / Wading', '2 boats capsized', 'Night bathing', 'Surfing ', 'Kayaking / Fishing', 'Kayaking', 'Body surfing', 'Swimming, poaching abalone', 'Canoeing', 'SUP', 'Skimboarding', 'Touching a shark', 'Fishing ', 'Attempting to lasso a shark', 'Photo shoot', 'Paddle boarding', 'Kakaying', 'Washing hands', 'Grabbing shark for a selfie', 'Kayak fishing', 'Tagging sharks', 'Surf skiing ', 'Surf fishing', 'Floating', 'Cage Diving', 'Surfng', 'SUP Foil boarding', 'Lobstering', 'Fishing in Alabama Deep Fishing Rodeo', 'Fishing for squid', 'Fishing for sharks', 'Floating in tube', 'Teasing a shark', 'Surf-skiing', 'Diving for beche-de-mer', 'Feeding stingrays?', 'Kayak Fishing', 'Sea disaster', 'Lobster fishing', 'Swimming / Wading', 'Fishing for shrimp', 'Photographing fish', 'Scallop diving on hookah', 'Treading water', 'Body boarding ', 'Playing in the water', 'Body Boarding', 'Body surfing?', 'Playing', 'Attempting to rescue a shark', 'Photographing the shark', 'Standing / Snorkeling', 'Hand feeding sharks', 'Sitting in the water', 'Transatlantic Rowing', 'Bodysurfing', 'Rowing', 'Shark fishing', 'Surfing & filming dolphins', 'Filming', 'Swimming after falling overboard', 'Diving / Filming', 'Fishing for blue sharks', 'Standing in inner tube', 'Body surfing or Boogie boarding', 'Kayaking ', 'Feeding fish', 'Playing with an air mattress', 'Kite boarding', 'Shark diving', 'Petting a shark', 'Kneeling in the water', 'Fell into the water', 'Shark watching', 'Diving for lobsters', 'Kite Surfing', 'Scuba diving / culling lionfish', 'Kitesurfing', 'Sailing', 'Spearfishing / Free diving', 'Free diving / Photographing pilot whales', 'Filming a documentary', 'Attempting to remove fishing net from submerged object', 'Kiteboarding', 'Diving for crayfish', 'Diving ', 'Swimming / snorkeling', 'Diving for Abalone', 'Casting a net', 'Marathon swimming', 'Longline fishing for sharks', 'Wrangling a shark', 'Attempting to free the shark', 'Walking in surf', 'Swimming ', 'Swimming & snorkeling', 'Boogie Boarding', 'Playing in the surf', 'Fly fishing', "Fishing - 'tag & release'", 'Swimming to shore with floatioon devices after boat engine conked out', 'Dragging stranded shark into deeper water', 'Bathing', 'Bodyboarding', 'Swimming or boogie boarding', 'Wading or swimming', 'Free diving ', 'Attempting to rescue an injured & beached shark', 'Free diving / spearfishing', 'Crayfishing', 'Diving, feeding sharks', 'Attempting to Kite surf from Egypt to Saudi Arabia', 'Fishing (illegally)', 'Diving, photographing sharks', 'Wade fishing', 'Jumping in the waves', 'Wade Fishing', 'Standing, collecting sea stars', 'Floating ', 'Swimming or Snorkeling', 'Kayaking or Wave skiing', 'Jet skiing', 'Standing or boogie boardin', 'Kite Boarding', 'Washing sand off a speared fish', 'Standing, holding shark pup', 'Diving / fishing', 'Wakeboarding', 'Diving for abalone', 'Shark fishing on the Ricardo Astorga', 'Shark fishing on the Don Agustín-VI. ', 'Attempting to fix motor', 'Swimming /  Whale Watching', 'Swimming after boat became disabled', 'Rescuing', 'Measuring sharks', 'Swimming / treading water', 'Surf fishing / wading', 'Spearfishing (free diving)', 'Paddling on kneeboard', 'Swimming to shore from capsized kayak', 'Paddle-boarding', 'Swimming, attempting to rescue a girl  believed to be drowning', 'Washing his feet', 'Paddle-surfing', 'Crawling', 'Diving, but on the surface when bitten by the shark', 'Air Disaster', 'Crabbing', 'Yacht race', 'Sinking of the cargo ship Mark Jason', 'Fishing boat swamped in storm', 'Swimming, towing surfboard', 'Swimming or surfing', 'Rowing an inflatable dinghy', 'Sea Disaster', 'Night diving', 'Free-diving', 'Walking out of the water after surfing', 'Fishing from surfski', "Accidentally stood on hooked shark's tail before attempting to gut it ", 'Attempting to chase shark out to sea', 'Fishing for snapper', 'Removing fish from a trap', 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ', 'Wading?', 'Jumping', 'Floating near boat & observing bioluminesce', 'Jumped into the water', 'Surf paddling', 'Murder', 'Removing hook from shark', 'Reviving a sedated shark', 'Shark tagging', 'Swimming / jumping off a jetty', 'Playing on a sandbar', 'Shrimping', 'Swimming / Body Surfing', 'Playing soccer in the water', 'Free diving / modeling', 'Diving / Kissing the shark', 'Lifesaving drill', 'Touching sharks', 'Competing in the Woodvale Atlantic Rowing Race', 'Night Surfing', 'Standing / Surfing', 'Treading water/ Surfing', 'Removing shark from net', 'Boogie boarding, kicked at object in the water', 'Scuba diving in aquarium tank', 'Holding onto an inflatable boat', 'Swimming with boogie board', 'Spearfishing (Free diving)', "Crouching in 2' of water", 'SCUBA Diving', 'Diving in aquarium display tank', 'Attempting to drive shark away from sailing regatta', 'Fishing from a kayak', 'Swept out to sea by the tsunami, she clung  to a log for 24 hours', 'Scurfing (surfboard being  towed behind a boat)', 'Chumming for white sharks', 'Spearfishing/ filming', 'Diving & fishing with net', 'Wading / fishing & carrying a bag of fish', 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat', 'In water with diving seabirds', 'Swimming, poaching perlemoen', 'Boogie-boarding / swimming', 'Free diving & spearfishing', 'Tandem surfing', 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water', 'Surf skiing', 'Kayaking (returning from spearfishing)', 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea', 'Swimming / shipwreck', 'Surfing amid a shoal of sharks', 'Swimming to shore from boat or kayak', 'Sitting on surfboard', 'Wading near a fishing net', 'Wading to shore from his boat', 'Standing, stepped on shark', 'Wade-fishing', 'Swimming, wearing black wetsuit & swim fins', 'Walking, carrying surfboard & stepped on shark', 'Swimming with pod of dolphins', 'Killing  sharks', 'Swimming (using a float)', 'Petting captive sharks', 'Unknown', "Fishing, standing in 2' of water", 'Fishing from Surfboard', 'Boogie boarding or Surfing', 'Wading, when he stepped on the shark', 'Shark Fishing', 'Attempting to retreive a dinghy', 'Snorkeling (filming the sardine run)', 'Floating on a raft', 'Fishing, removing the shark from his line', 'Playing in the surf with his 2 dogs', 'Collecting beche-de-mer', 'Fishing from prawn trawler', 'Scallop diving (using surface-supplied air & a POD) ', 'Fishing (Drowned 2-Apr-2002)', 'Surfing, but standing in water alongside board', 'Body-boarding', 'Swimming /  boogie boarding', 'Capsized fishing boat', 'Kite-Boarding', 'Surfing, fell off surfboard & stepped on the shark.', 'Wreck / Technical diving', 'Walking in shallows', 'Fell off banana boat', 'Floating face-down in knee-deep water', 'Hiking on the beach', 'Spearfishing, carrying his catch', 'Standing alongside surfboard', 'Batin', 'Attempting to catch a crocodile', "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board", 'Fishing for whiting', 'Swimming back from anchored sailboat', 'Diving for sea urchins', 'Diving (shell maintenance)', 'Shipwrecked', 'Fell onto dead shark', 'Standing / surfing', 'Swimming / Body surfing', 'Conducting research', 'Swimming out to porpoises ', 'Windsurfing, but sitting on his board', 'Surfing / Wading', 'Attempting to illegally enter the USA', 'Spearfishing, holding mesh bag with speared fish', 'Air Disaster - Piper aircraft crashed into the sea, killing all on board', 'Boogie boarding / wading', 'Feeding prawns to captive sharks', 'Canoe with 3 men onboard sank', 'Fishing for tarpon', 'Surfing (sitting on his board)', 'Spearfishing, but swimming at surface', 'Surfing, lying on surfboard', 'Wading to shore after surfing', 'Wading with surfboard', "Lying prone in 2' of water", 'Spearfishing & holding catch', 'Swimming with dolphins', 'Wading in school of baitfish', 'Adrift in a life jacket', 'Splashing / wading', 'Swimming after being swept into sea by a large wave', 'Spearfishing & diving for paua', "Scientific research (Dr. Sonny Gruber's student)", 'Swimming, towing a kayak', 'Body surfing or body boarding', 'Swimming near pod of whales', 'Cruising', 'Paddle Skiing', 'Inflatable boat', 'Splashing', 'Fishing for tuna', 'Fishing / washing bait off hands', 'Moving a shark in a net ', 'Surfing (or body boarding)', 'Free diving for abalone', 'Swimming / surfing', 'Towing rubber dinghy', 'Surfing (lying prone on his board)', 'Snorkeling \x96 hunting crayfish and abalone', 'Swimming or paddle boarding', 'Spearfishing on scuba & transferring fish onto a stringer', 'Scuba diving (submerged riding a scooter)', 'Body boarding or surfing', 'Fishingat', 'Walking / surfing', 'SCUBA diving', 'Floating on raft', 'Wading / Surfing', 'Fishing for octopus', 'Spearfishing / night diving', 'Body surfing, stood up on sandbar', 'Rowing ', 'Watching seals', 'Attempting to attract dolphins', 'Swimming or snorkeling', 'Surfing / Swimming', 'Free diving with a pod of dolphins', 'Tech diving ', 'Shell Diving', 'Swimming breast stoke', 'Fishing in knee-deep water', 'Dived naked into the water on a bet', 'Swimming in fish tank', 'Boeing 757 enroute from Porta Plata plunged into the sea', 'Swimming with mask & snorkel', 'Chumming for sharks', 'Diving, gathering shellfish', 'Fell off aircraft carrier', 'Playing / standing', 'Abalone diving using Hookah (near calving whales)', 'Abalone diving using Hookah (resting on the surface)', 'On a float', '"Riding waves on a board"', 'Jumped off surfboard & landed on the shark', 'Scuba diving (ascending using scooter)', 'Playing / jumping', 'Sleeping in anchored boat', 'Scuba diving for bivalves', 'Wind surfing', 'Surfing, sitting on board', 'Murder victim', 'Commercial diver (submerged or treading water)', 'Surfing, paddling seawards', 'Adrift on refugee raft', 'Jumped off rocks into white water', 'Freediving for seashells', 'Swimming alongside NOAA research vessel Discoverer', 'Removing shark from tank in nightclub ', 'Swimming, after falling off towed kneeboard', 'Playing volleyball with friends', 'Hookah diving', 'Surfing, paddling shorewards', 'Stamding', 'Watching the shark feeding on a dead pinniped', 'Riding floatation device', 'Free diving for abalone (ascending)', 'Fishing for lobsters', 'Oyster fishing', 'Paddling on surfboard or body board', 'Scuba diving at seal colony', 'Floating on his back', 'Paddling on surfboard', 'Free diving & spearfishing (ascending)', '   ', 'Standing in waist-deep water, helping his father tend a gill net containing dead fish', 'Lying on surfboard', 'Spearfishing / free diving', 'Scuba diving (submerged)', 'Hookah diving for sea urchins', 'Snorkeling, carrying a speared fish in her hand', 'Fell from cliff while fishing & disappeared in strong current', 'Fisherman', "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found", 'Preparing to fish for jack-mackerel', 'Scuba diving ', 'Scuba diving & filming', 'Hookah diving for pen shells ', 'Fishing for yellowtail, Seriola quinqueradiata', 'Diving for pen shells', 'Fishing from rocks, swept out to sea by large wave & treading water', 'Finning the shark that bit him', 'Swimming from makeshift raft  to life vest after fishing boat sank', 'Swimming behind sailboat', 'Surfing, collided with shark', 'Surfing (or sailboarding)', 'Scuba diving (but on surface)', 'Free diving / spearfishing, from paddleboard & floating on the surface', 'Snorkeling, possibly holding a fish', 'Resting on surfboard', 'Lying on surfboard & paddling', 'Free diving for trochus', 'Scuba diving & spearfishing', 'Board sailing', "On board 51' fishing vessel One Ki", 'Wading, knocked down & swept away by large waves', 'Swimming in canal', "Fishing, stepped on hooked shark's head", 'Observing a shark feeding on a carcass of a humpback whale', 'Hookah diving for abalone (descending)', "Filming 5' blue shark", 'Playing ', "Fell off surfboard 20' from shore", 'Windsurfing (urinating on his board)', 'Scuba diving, but swimming on surface', 'Swimming in strong current with 3 others when he disappeared', 'Surfing with dolphins', 'Scuba diving, hand feeding sharks', 'Spearfishing using scuba & trailing a string of bleeding fish', 'Skindiving', 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy', 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives', "Diving in Sharkey's Reef restaurant\x92s aquarium", 'Free diving & spearfishing ', 'Spearfishing on scuba', 'Sittting in water with his child', 'Shell diving', 'Surfing / treading water', 'pêcheur de bichiques', "Onboard 21' powerboat that capsized in rough seas", 'Standing ', 'Lying atop surfboard', 'Drift fishing', 'Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu ', "Attempting to lasso shark's tail", 'Returning to shore, collided with shark', 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ', 'Vessel caught fire & capsized, survivors in the water', 'Scuba Diving for scallops', 'Dropping anchor', 'Swimming from shore to anchored sailboat', 'The inter-island ferry Vula sank in heavy weather', 'Jumped into the water from a cliff', 'Boat', 'Adrift after ditching plane in the sea', 'Free diving  & spearfishing (submerged)', 'NSB Meshing', 'Racing ski', 'Fishing, fell from rocks & disappeared', 'Hookah diving for abalone', 'Floating on inner tube after diving for lobster', 'Free diving & spearfishing (descending)', 'Bottom fishing for lingcod & had hooked a fish', 'Playing in knee-deep water', 'Surfing, but lying prone on his board', 'Free diving for scallops', 'Scuba Diving for lobster (at surface)', 'Investigating shark sighting', 'Sailing on catamaran & fell into the water', 'Surfing or body surfing', 'Free diving , but surfacing', 'Boat capsized?', 'Sea disaster, foundering of the cargo vessle M/V Dorolonda', "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ", 'Towing her sister on plastic ski board', 'Steinhart Aquarium', 'Scuba diving for abalone', 'Ferry boat sank', 'Swimming from the New Venture ', '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water', 'Floating on air mattress', 'Surfing & dangling foot in water amid baitfish', 'Water-skiing', 'Paddleskiing', 'Ran into the water', 'In waist-deep water', 'Free diving for abalone from Zodiac (submerged)', 'Paddle Boarding', 'Spearfishing ', 'Sailboarding, fell into water 100 yards outside the breakwater', 'Fishing on a boat', 'Spearfishing, but swimming on surface', 'Inspecting teeth of supposedly dead (hooked & shot) shark', "Diving to untangle a crab trap line from boat's propeller", "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore", 'Snorkeling on surface', 'Catching sardines', 'Scuba diving, reportedly also spearfishing', 'Foundering of the Israeli freighter Mezada', 'Standing / Wading', 'Free diving Spearfishing', 'Exercising his dog in the shallows', 'Commercial spearfishing', 'Free diving / spearfishing, ', 'Diving in tuna net', 'Resting on body board', 'Skin diving', 'Sinking of the ferryboat Don Juan', 'Sinking of the ferryboat Bongbong 1', 'Hookah Diving', 'Gaffing netted shark', 'Freedom swimming', 'Murdered by Thai pirates', 'Floating with life preserver after his boat foundered', 'Floating on inner tube raft', "Explosion destroyed 28' boat, survivors in the water ", 'Fishing for mackerel', 'Swimming, after single-engine aircraft went down in the sea', 'Fishing for bottom fish', 'Floating on an inflatable raft', 'Free diving for abalone (surfacing)', "40' fishing boat sank", 'Spearfishing / Scuba diving', 'Collecting fish from net', 'Fishing for yellowtail', 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days', "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board", 'Hookah diving for abalone (submerged)', 'Thrashing the water / imitating the shark victim from "Jaws"', 'Fishing for white shark', 'Shipwreck', 'Skindiving,', '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon', 'Surfing, fell off surfboard', "Sitting in bow of her father's 5 m boat", 'Competing in a light tackle game fishing', 'Fishing for snoek & yellowtail', 'Spearfishing / scuba diving', 'Attempting to drive shark away from the beach', 'Filming & feeding captive sharks', 'Floating on a small orange raft ', 'Scuba diving for abalone (at surface)', 'Swimming near his boat', 'Spearfishing Competition', 'Floating in inner tube', 'Diving & force-feeding the shark', 'Attempting to drag hooked shark ashore by its tail', 'Ferry capsized', 'Swimming underwater from crayfish cage to a fishing bait', '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current', 'Freedom Swimming', 'Free diving for abalone (submerged)', 'Adrift after the sinking of the motor yacht Princess Dianne', 'Free diving (but on surface)', 'Fishing boat swamped in a storm', 'Fishing for kob', 'Fishing for red fish', 'Sitting', 'Swimming alongside yacht Mexico Fiesta', 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S', 'Free diving, Spearfishing', 'Crabbing (spearing crabs)', 'Fishing from paddleski', 'Scuba diving & U/W photography', 'Sitting in shallows', 'Free diving, collecting shells', 'Scuba diving & feeding fish', 'Hookah diving (submerged)', 'Wreck of the 1689-ton Portuguese  coaster Angoche', 'Fishing for prawns', 'Sea Disaster Sinking of ferryboat Christina', 'Motor launch Baby Princesa capsized with 22 people on board', 'Freediving', 'Air disaster', 'Attempted to return injured shark to the sea', 'Spearfishing / freediving', 'Washing cooking pans', 'Washing clothes on stairs', 'Fishing, trying to catch the end of his fishing line', 'Scuba diving for lobsters', 'Freediving for abalone (at surface)', 'Surf-fishing', 'Netting pilchards', 'Hard hat diving', 'Sight-seeing', 'Feeding mullet to sharks', 'Wreck of the Storm King', 'Spearfishing using Scuba', 'Sinking of the ferryboat Dumaguete ', 'Playing with a frisbee in the shallows', 'Leaving the water', 'Dynamite fishing', 'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore', 'Clamming', 'Schooner sank during a storm', 'Diving. Shark \x93swallowed\x92 his hand, so he threw his other around the shark and went \x93shark-back riding\x94 for 30 yards until the shark opened its jaws', 'Wading & pushing dinghy toward  the shallows', 'Picking up shark by the tail', 'Swimming after his canoe capsized', 'Sinking of the M/V Mindoro during a typhoon', 'Standing on sandbar', "Boat capsized between O'ahu & Molokai", 'Pulling shark from the water', 'Spearfishing on Scuba', 'Spearfishing, dived to pick up a float line', 'Anti-sabotage night dive exercise alongside destroyer (Scuba diving)', 'Photographing sharks underwater using Scuba', 'Beach seine netting', 'Fishing boat', 'Feeding a shark', 'Vehicle plunged over cliff into the water', 'The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore  ', 'Fishing for rock lobster', 'Swimming in the channel', 'A father bathing his smallest daughter when the shark bumped her out of his arms and carried her into deep water', 'Free diving, carrying speargun', 'Hunting crayfish ', 'Diving / UW photography', 'Netting sh

In [45]:
sharks['Activity'].fillna('Other', inplace=True)

In [46]:
sharks['Activity2'] = sharks['Activity'].apply(fc.cambia_activity)

In [47]:
sharks.head()

,Case Number,Date,Year,Type,Country,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Time3,Activity2
0,2018.06.25,25-Jun-2018,2018,Boating,USA,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,Evening,Surfing
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,Afternoon,Other
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,Morning,Surfing
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,Surfing,male,M,NaN,Minor injury to lower leg,N,Unknown,2 m shark,Unknown,Surfing
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Unknown,"Tiger shark, 3m",Unknown,Diving

In [48]:
sharks['Activity2'].unique()

array(['Surfing', 'Other', 'Diving', 'Swimming', 'Fishing', 'Boating',
       'Feeding'], dtype=object)

In [49]:
sharks['Activity2'].value_counts()

Other       1657
Surfing     1570
Swimming    1345
Fishing     1136
Diving       361
Boating       57
Feeding        5
Name: Activity2, dtype: int64