In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import SRC.cleaning_functions as fc
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1") #To load the data csv

In [3]:
# First visualization of the dataset

df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
df.sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
9489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7284,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# To see how many values does the dataset have 

df.shape

(25723, 24)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
# After analyzing the data and its figures, I have decided the HYPOTHESES I am going to work on:

# 1. Over the years the % of shark attacks ending in fatality has decreased.
# 2. The accidents happening at night have more chance of ending in fatality than in another time of the day.
# 3. Surfing represents the activity with more fatal accidents.

In [8]:
df.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [9]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [10]:
df['Unnamed: 22'].unique()

array([nan, 'stopped here'], dtype=object)

In [11]:
df['Unnamed: 23'].unique()

array([nan, 'Teramo', 'change filename'], dtype=object)

In [12]:
# Now I am going to remove the columns full of NaN and also some columns whose values I am not going to use

df.drop(['original order', 'Case Number.1', 'Case Number.2', 'pdf', 'href formula', 'href', 'Unnamed: 22', 'Unnamed: 23', 'Area', 'Location', 'Investigator or Source'], axis=1, inplace=True)

In [13]:
df.sample(5)

,Case Number,Date,Year,Type,Country,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
18202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7333,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Now I am removing all the rows where all the values are NaN

df.dropna(axis=0, how='all', thresh=None, inplace=True)

In [15]:
df.shape

(8703, 13)

In [16]:
# Now I want to see the unique values per column to identify how do I have to clean the columns I need

In [17]:
df['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [18]:
df['Species '].unique()

array(['White shark', nan, '2 m shark', ..., "12' tiger shark",
       'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)

In [19]:
# df['Year'].unique()

In [20]:
# df['Country'].unique()

In [21]:
df['Injury'].unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [22]:
df['Country'].value_counts()

USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
NEW ZEALAND                128
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: Country, Length: 212, dtype: int64

In [23]:
df['Type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [24]:
# The column of 'Fatal (Y/N)' it is going to be used for all my hypotheses, so it will be the first column I am going to clean with the function replace

In [25]:
df['Fatal (Y/N)'].replace({' N': 'N', 'M': 'UNKNOWN', '2017': 'UNKNOWN', 'N ': 'N', 'y': 'Y'}, inplace=True)

In [26]:
df['Fatal (Y/N)'].value_counts()

N          4301
Y          1389
UNKNOWN      73
Name: Fatal (Y/N), dtype: int64

In [27]:
df['Fatal (Y/N)'].fillna('UNKNOWN', inplace=True)

In [28]:
df['Fatal (Y/N)'].unique()

array(['N', 'Y', 'UNKNOWN'], dtype=object)

In [29]:
# Finally, for my hipotheses #1 I want to see if the mortality of the shark attacks has decreased over time. 
# However, I have identified there are some cases which date from year 0, 50, 500, etc. so I am going to test this hypotheses for the last 2 centuries.
# So now I am going to remove the rows from 6133 to 6301 which are where those values are in, as identified below

In [30]:
print(list(df['Year'].unique()))

[2018.0, 2017.0, nan, 2016.0, 2015.0, 2014.0, 2013.0, 2012.0, 2011.0, 2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0, 2003.0, 2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995.0, 1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0, 1969.0, 1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0, 1980.0, 1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0, 1972.0, 1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0, 1963.0, 1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0, 1955.0, 1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0, 1848.0, 1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0, 1940.0, 1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0, 1932.0, 1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0, 1924.0, 1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0, 1916.0, 1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0, 1908.0, 1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0, 1900.0, 1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0, 1892.0, 1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0, 1884.0, 1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0, 1876.0, 1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0, 1868.0, 1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0, 1860.0, 1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0, 1851.0, 1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0, 1841.0, 1840.0, 1839.0, 1837.0, 1836.0, 1835.0, 1834.0, 1832.0, 1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0, 1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1812.0, 1811.0, 1810.0, 1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0, 1800.0, 1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0, 1784.0, 1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1767.0, 1764.0, 1758.0, 1753.0, 1751.0, 1749.0, 1755.0, 1748.0, 1742.0, 1738.0, 1733.0, 1723.0, 1721.0, 1703.0, 1700.0, 1642.0, 1638.0, 1637.0, 1617.0, 1595.0, 1580.0, 1555.0, 1554.0, 1543.0, 500.0, 77.0, 5.0, 0.0]

In [31]:
sharks = df.loc[df['Year'] >= 1800.0]

In [32]:
sharks['Year'].unique()

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
       1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986., 1985.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966., 1965.,
       1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
       1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1848.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849., 1847.,
       1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837., 1836.,
       1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827., 1826.,
       1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815., 1812.,
       1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802., 1801.,
       1800.])

In [33]:
# The values in column 'Year' are floats, I want them now to be int because it is much clear for a number
sharks['Year'] = sharks['Year'].astype(dtype=int)

In [34]:
sharks['Year'].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988,
       1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943,
       1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888,
       1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877,
       1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866,
       1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855,
       1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841,
       1840, 1839, 1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828,
       1827, 1826, 1825, 1823, 1822, 1819, 1818, 1817, 1816, 1815, 1812,
       1811, 1810, 1808, 1807, 1805, 1804, 1803, 1802, 1801, 1800])

In [35]:
# Now for the column 'Time', I need to use this column for my 2nd hypotheses

In [36]:
sharks['Time'].value_counts()

Afternoon      183
11h00          128
Morning        120
12h00          109
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: Time, Length: 366, dtype: int64

In [37]:
# To clean this column, I need a function to identify the first 2 items of the strings and based on that replace them with the moment of the day

In [38]:
# print(list(sharks['Time'].unique()))

In [39]:
sharks['Time'].fillna('Unknown', inplace=True)

In [40]:
# But first, I am going to take all the random values which are not going to be captured by my function

In [41]:
sharks['Time'].replace({'Late afternoon': 'Afternoon', 'Midday': 'Afternoon', 'Shortly before 12h00': 'Morning', 'After noon': 'Afternoon', 'Morning ': 'Morning', 'Midnight': 'Night', 'Sometime between 06h00 & 08hoo': 'Morning', 'Early afternoon': 'Afternoon', 'Just before noon': 'Morning', 'Early morning': 'Morning', 'Dawn': 'Night', 'Dusk': 'Night', 'Lunchtime': 'Afternoon', 'Before 07h00': 'Night', '"Just before 11h00"': 'Morning', 'Between 05h00 and 08h00': 'Morning', '>08h00': 'Morning', 'AM': 'Morning', 'A.M.': 'Morning', 'Sunset': 'Evening', '"Evening"': 'Evening', 'Just before sundown': 'Evening', '--': 'Nan', 'Just after 12h00': 'Afternoon', 'Early Morning': 'Morning', 'Shortly after midnight': ' Night', '\xa0 ': 'Nan', '20h45 (Sunset)': 'Night', 'Late morning': 'Morning', '19h00, Dusk': 'Evening', 'Shortly before 13h00': 'Afternoon', 'Possibly same incident as 2000.08.21': 'Nan', 'After Dusk': 'Evening', 'Noon': 'Afternoon', ' Night': 'Night', 'P.M.': 'Evening', '8:04 pm': 'Evening', '2 hours after Opperman': 'NaN', 'Mid afternoon': 'Afternoon', 'Mid morning': 'Morning', '"Night"': 'Night', '30 minutes after 1992.07.08.a': 'Nan', '>06h45': 'Morning', 'Between 06h00 & 07h20': 'Morning', '<07h30': 'Morning', '17h00 Sunset': 'Evening', 'Nightfall': 'Night', 'X': 'NaN', '18h30 (Sunset)': 'Evening', 'Prior to 10h37': 'Morning', 'Daybreak': 'Afternoon', '>12h00': 'Afternoon', 'Mid-morning': 'Morning', 'Just before dawn': 'Night', 'Daytime': 'Morning', 'Dark': 'Night', '"After lunch"': 'Afternoon', 'After dusk': 'Night', 'FATAL  (Wire netting installed at local beaches after this incident.)': 'NaN', 'After midnight': 'Night', 'Late afternon': 'Afternoon', '"Early evening"': 'Evening', 'Late Afternoon': 'Afternoon', '   ': 'NaN', 'Before daybreak': 'Morning', 'dusk': 'Night', 'Before 10h30': 'Morning', '>17h00': 'Evening', 'night': 'Night', 'Late night': 'Night', 'Midday.': 'Afternoon', '"After dark"': 'Night', '2 hrs before sunset': 'Evening', '"shortly before dusk"': 'Night', 'Between 11h00 & 12h00': 'Morning', 'After 04h00': 'Night', 'Ship aban-doned at 03h10': 'Night', '>17h30': 'Evening', '>14h30': 'Afternoon', '11h01 -time of ship sinking': 'Morning', '9h00': 'Morning', ' 14h00': 'Afternoon', 'Nan': 'Unknown', 'NaN': 'Unknown', ' ': 'Unknown', '   ': 'Unknown', ' Night': 'Night'}, inplace=True)

In [42]:
# Now I can apply my function to the column to only have 4 values in this column

In [43]:
sharks['Moment of the Day'] = sharks['Time'].apply(fc.cambia_hora)

In [44]:
sharks['Moment of the Day'].unique()

array(['Evening', 'Afternoon', 'Morning', 'Unknown', 'Night', '  ', 'Nan',
       ' Night', 'NaN'], dtype=object)

In [45]:
# I need to repeat the replace function because there are some values that are not being captured

In [46]:
sharks['Moment of the Day'].replace({'  ': 'Unknown', 'Nan': 'Unknown', 'NaN': 'Unknown', ' Night': 'Night'}, inplace=True)

In [47]:
sharks['Moment of the Day'].unique()

array(['Evening', 'Afternoon', 'Morning', 'Unknown', 'Night'],
      dtype=object)

In [48]:
sharks.head(5)

,Case Number,Date,Year,Type,Country,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Moment of the Day
0,2018.06.25,25-Jun-2018,2018,Boating,USA,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,Evening
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,Afternoon
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,Morning
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,Surfing,male,M,NaN,Minor injury to lower leg,N,Unknown,2 m shark,Unknown
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Unknown,"Tiger shark, 3m",Unknown

In [49]:
# As I am going to use the column Activity for my 3rd hypotheses I need now to see the unique values of the column to then do a regex function

In [50]:
sharks['Activity'].value_counts()

Surfing                                                        969
Swimming                                                       842
Fishing                                                        420
Spearfishing                                                   332
Bathing                                                        156
                                                              ...
Motor launch Baby Princesa capsized with 22 people on board      1
Sea Disaster Sinking of ferryboat Christina                      1
Wreck of the 1689-ton Portuguese  coaster Angoche                1
Hookah diving (submerged)                                        1
a corsair's boat was overturned                                  1
Name: Activity, Length: 1487, dtype: int64

In [51]:
# print(list(sharks['Activity'].unique()))

In [52]:
sharks['Activity'].fillna('Other', inplace=True)

In [53]:
# Now I need to use the function I have created to inclue only 6 values in the Activity column. I am going to create a new column for it named "Type of Activity"

In [54]:
sharks['Type of Activity'] = sharks['Activity'].apply(fc.cambia_activity)

In [55]:
sharks.head()

,Case Number,Date,Year,Type,Country,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Moment of the Day,Type of Activity
0,2018.06.25,25-Jun-2018,2018,Boating,USA,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,Evening,Surfing
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,Afternoon,Other
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,Morning,Surfing
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,Surfing,male,M,NaN,Minor injury to lower leg,N,Unknown,2 m shark,Unknown,Surfing
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Unknown,"Tiger shark, 3m",Unknown,Diving

In [56]:
sharks['Type of Activity'].unique()

array(['Surfing', 'Other', 'Diving', 'Swimming', 'Fishing', 'Boating',
       'Feeding'], dtype=object)

In [57]:
sharks['Type of Activity'].value_counts()

Other       1657
Surfing     1570
Swimming    1345
Fishing     1136
Diving       361
Boating       57
Feeding        5
Name: Type of Activity, dtype: int64

In [58]:
sharks.to_csv('data/sharks_clean.csv')